<!--Main Navigation-->
<header class="intro-header">

  <!--Navbar-->
  <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar white">
    <!-- Navbar brand -->
    <mdb-navbar-brand>
      <mdb-icon fas icon="heart" size="2x" class="amber-text animate__pulse animate__infinite animate__animated"></mdb-icon>
      <a class="navbar-brand amber-text" >SearchDeo</a>
    </mdb-navbar-brand>
    <links style="text-align: center;display: inline-block;">

      <!-- Search form -->
      <form class="md-form" *ngIf="etatHeader">
        <mdb-icon fas icon="search" aria-hidden="true"></mdb-icon>
        <input type="search" placeholder="Rechercher">
        <button type="button" mdbBtn color="primary" size="sm" mdbWavesEffect>Search</button>

        <div class="btn-group" mdbDropdown style="margin-left: 15px;margin-top: 2px;">
          <a mdbDropdownToggle mdbWavesEffect type="button" class="waves-light" mdbWavesEffect
             style="height: auto;">
             <mdb-icon fas icon="align-justify" size="2x" class="primary-text pr-3" aria-hidden="true"></mdb-icon>
          </a>
          <div class="dropdown-menu dropdown-primary animate__zoomIn animate__animated" style="margin-top: 5px;">
            <a class="dropdown-item" (click)="test.toggle()" style="padding: 0.25rem 1.5rem !important;">Settings</a>
            <div class="divider dropdown-divider"></div>
            <a class="dropdown-item" [routerLink]="['sauvegarder']" style="padding: 0.25rem 1.5rem !important;">Save</a>
          </div>
        </div>
      </form>

      <button class="float-right" *ngIf="!etatHeader" [routerLink]="['']" type="button" mdbBtn color="primary" size="sm" mdbWavesEffect (click)="recherche()">Search</button>

    </links>
  </mdb-navbar>

</header>

<div class="m-5" mdbCollapse [isCollapsed]="true" #test="bs-collapse" style="margin:75px 100px 0px" class="z-depth-1">
  <div class="container">
    <div class="row" style="padding: 10px">
      <div class="col-sm-3">
        <input-file inputId="input_file" [(ngModel)]="file" fileAccept="image/*" fileLimit="1" placeholder="Chercher à partir d'une image"></input-file>
      </div>

      <div class="col-sm-3 mt-5">
        <ng-multiselect-dropdown
          [placeholder]="'Selectionnez des scènes'"
          [settings]="dropdownSettingsScenes"
          [data]="dropdownListScenes"
          [(ngModel)]="selectedItemsScenes"
          (onSelect)="onItemSelectScene($event)"
          (onSelectAll)="onSelectAllScene($event)"
          (onDeSelect)="onDeSelectScene($event)"
        >
        </ng-multiselect-dropdown>
      </div>

      <div class="col-sm-3 mt-5">
        <ng-multiselect-dropdown
          [placeholder]="'Selectionnez des objets'"
          [settings]="dropdownSettingsObjets"
          [data]="dropdownListObjets"
          [(ngModel)]="selectedItemsObjets"
          (onSelect)="onItemSelectObjet($event)"
          (onSelectAll)="onSelectAllObjet($event)"
          (onDeSelect)="onDeSelectObjet($event)"
        >
        </ng-multiselect-dropdown>
      </div>

      <div class="col-sm-3 mt-5">
        <button class="float-right" [routerLink]="['']" type="button" mdbBtn color="primary" size="sm" mdbWavesEffect (click)="postsearch()">Search</button>
      </div>
    </div>
  </div>
</div>


<!--Main Navigation-->
