<!--Main Navigation-->
<header class="intro-header">

  <!--Navbar-->
  <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar white">
    <!-- Navbar brand -->
    <mdb-navbar-brand>
      <img [src]="url_logo" style="width: 30px; height: auto;margin-top: -10px;" class="amber-text animate__shake animate__infinite animate__animated" alt="logo">
      <a class="navbar-brand amber-text" >SearchDeo</a>
    </mdb-navbar-brand>
    <links style="text-align: center;display: inline-block;">

      <!-- Search form -->
      <form class="md-form" *ngIf="etatHeader">
        <input type="search" placeholder="Search ..." name="search" [(ngModel)]="value_search">
        <button type="button" mdbBtn color="primary" size="sm" mdbWavesEffect (click)="chercher_text()">Search</button>

        <div class="btn-group" mdbDropdown style="margin-left: 15px;margin-top: 2px;">
          <a mdbWavesEffect type="button" class="waves-light" style="height: auto;" (click)="test.toggle()">
            <mdb-icon fas icon="sliders-h" size="2x" class="text-info pr-3"></mdb-icon>
          </a>
        </div>

        <div class="btn-group" mdbDropdown style="margin-left: 15px;margin-top: 2px;">
          <a mdbWavesEffect type="button" class="waves-light" style="height: auto;" [routerLink]="['sauvegarder']" (click)="test.hide()">
            <mdb-icon far icon="save" size="2x" class="text-info pr-3"></mdb-icon>
          </a>
        </div>
      </form>

      <button class="float-right" *ngIf="!etatHeader" [routerLink]="['']" type="button" mdbBtn color="primary" size="sm" mdbWavesEffect (click)="recherche()">Search</button>

    </links>
  </mdb-navbar>

</header>

<div class="m-5" mdbCollapse [isCollapsed]="true" #test="bs-collapse" style="margin:75px 100px 0px" class="z-depth-1">
  <div class="container">
    <div class="row" style="padding: 10px">
      <div class="col-sm-3">
        <input-file inputId="input_file" [(ngModel)]="file" fileAccept="image/*" fileLimit="1" placeholder="Chercher à partir d'une image"></input-file>
      </div>

      <div class="col-sm-3 mt-5">
        <ng-multiselect-dropdown
          [placeholder]="'Selectionnez des scènes'"
          [settings]="dropdownSettingsScenes"
          [data]="dropdownListScenes"
          [(ngModel)]="selectedItemsScenes"
        >
        </ng-multiselect-dropdown>
      </div>

      <div class="col-sm-3 mt-5">
        <ng-multiselect-dropdown
          [placeholder]="'Selectionnez des objets'"
          [settings]="dropdownSettingsObjets"
          [data]="dropdownListObjets"
          [(ngModel)]="selectedItemsObjets"
        >
        </ng-multiselect-dropdown>
      </div>

      <div class="col-sm-3 mt-5 text-center">
        <button class="" [routerLink]="['']" type="button" mdbBtn color="primary" size="sm" mdbWavesEffect (click)="postsearch()">Search</button>
      </div>
    </div>
  </div>
</div>


<!--Main Navigation-->
