<div class="container">
  <div class="row">
    <div class="row mt-5">
      <div class="col-md-1">

      </div>
      <div class="col-md">
        <div class="container">
          <div class="row border border-info p-2 m-2 mt-3" *ngFor="let scene of resultat">
            <p>
              <a class="text-decoration-none text-danger success-lighter-hover" href="#">
                {{ scene.nom_video }} ({{ scene.duree_video }})
              </a>
            </p>
            <div class="container">
              <div class="row">
                <div class="col-sm-4 text-center view overlay zoom">
                  <img [src]="scene.image_url" style="width: 107%; height: auto;" class="pointer img-fluid z-depth-2 rounded-sm d-flex align-self-center mr-3" alt="100x100">
                  <div class="mask flex-center rgba-white-light pointer" (click)="openModal(scene.scene_url, scene.nom_video)">
                    <p class="black-text">Enrégistré le {{ scene.date_save | date }}</p>
                </div>
                </div>
                <div class="col-sm m-2">
                  <p class="mb-1"><span class="font-weight-normal">Scene number : </span> <span class="text-info success-lighter-hover"> {{ scene.num_scene }}</span></p>
                  <p class="mb-1"><span class="font-weight-normal">Scene duration : </span> <span class="text-info success-lighter-hover"> {{ scene.duree_scene }} secondes</span></p>
                  <p class="mb-1"><span class="font-weight-normal">Scene type 1 : </span> <span class="text-info success-lighter-hover"> {{ scene.nom_type1 }} ({{ scene.proba_type2 * 100 | number:'2.1-3' }} %)</span></p>
                  <p class="mb-1"><span class="font-weight-normal">Scene type 2 : </span> <span class="text-info success-lighter-hover"> {{ scene.nom_type2 }} ({{ scene.proba_type2 * 100 | number:'2.1-3' }} %)</span></p>
                  <p class="mb-1"><span class="font-weight-normal">Number of persons : </span> <span class="text-info success-lighter-hover"> 0</span></p>
                </div>
                <div class="col-sm-3">
                  <div class="row text-center">
                    <h5 class="blue-text text-center">
                      <strong>List of objects</strong>
                    </h5>
                  </div>
                  <div class="row overflow-auto" style="max-height: 110px;">
                    <mdb-badge primary="true" class="text-wrap" style="margin: 5px" *ngFor="let objet of scene.liste_objets">
                      {{ objet.nom_objet }} ({{ objet.proba * 100 | number:'2.1-3' }}%)
                    </mdb-badge>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-1">

      </div>
    </div>
  </div>
</div>
